<!-- Menu navegacion -->
<nav>
    <a href="/">Home</a>
    <a href="/movies">Peliculas</a>
    <a href="/movies/movieNew">Carga New Peli</a>
    <a href="/faqs">FAQS</a>
    <a href="/aboutUs">About US</a>
</nav>