<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('./partials/menu') %>
    <h2>Que estas buscando?</h2>
    <form action="/movies/results" method="get">
      <input type="text" name="search" placeholder="Search..." />
      <button type="submit">Buscar</button>
    </form>

  </body>
</html>
