<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cargar Pelicula</h1>
 
    <%- include('./partials/menu') %>
    <h2>Form de CArga</h2>
    <!-- Esta ruta hay que indicar como se resuelve en el controlador -->
    <form action="/movies/create" method="post"> 
      <input type="text" name="title" placeholder="Titulo" id="" value=""/>
      <input type="text" name="description" placeholder="Descipcion" id="" value=""/>
      <button type="submit">Guardar</button>
    </form>

  </body>
</html>
