<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Resultado de Busqueda</h1>
    <p>Buscaste: <%= searchTerm %></p>
    <!-- Lista se declara en el controlador -->
    <h2>Lista de películas</h2> 
    <!-- Aqui lista de peliculas -->
  </body>
</html>